h1 {
    text-align: center;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

.one {
    background-color: red;
}

.two {
    background-color: green;
}

.three {
    background-color: blue;
}